{erl_opts, [
 		{parse_transform, lager_transform}
    ]}.

{ sub_dirs, [ "rel"] }.
{ deps_dir, [ "deps" ] }.
{ deps, [
     	 {lager, ".*", {git, "https://github.com/basho/lager.git", "HEAD"}},
         { amqp_client,	".*",	{ git, "https://github.com/iamaleksey/amqp_client.git", "HEAD" } }      
        ]}.

