{sys, [
       {lib_dirs, ["../deps","../.."]},
		{erts, [{mod_cond, derived}, {app_file, strip}]},
       {rel, "rmq_tool", "1",
        [
         kernel,
         stdlib,
         sasl,
         amqp_client,
         lager,
         rmq_tool
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "rmq_tool"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/doc", "^erts.*/src",
                           "^erts.*/info", "^erts.*/man",
                           "^erts.*/lib", "^erts.*/include",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},

      {app, hipe, [{incl_cond, exclude}]}

      ]}.

{target_dir, "rmq_tool"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/rmq_tool", "bin/rmq_tool"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
